<div class="container-fluid">

<div class="row">

<% Object.keys(res['foods']).forEach(function(food) { %>  
<div class="col-sm-4">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= food %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>
<% }) %>


</div>

</div



==><%= Object.keys(res['foods']) %><==
==><%= Object.keys(res['foods']['meats']) %><==
